@font-face {
    font-family: 'good-times';
    src: url('../fonts/good-times.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --pf-global--primary-color--100: #75d1ff;
}

body {
    background-image: url('../img/earth.jpg') !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kc-header-wrapper {
    font-family: good-times, sans-serif;
    font-size: 36px;
    color: #ffde66;
}

/* Style the login dialog */
.card-pf {
    backdrop-filter: blur(10px);
    background-color: #282a36aa;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    color: #f8f8f2 !important;
}

.kc-info-wrapper {
    background-color: #282a36aa;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#kc-page-title {
    color: #75d1ff;
}

#kc-form-buttons .pf-c-button {
    color: #0c0828;
}

#kc-form-buttons .pf-c-button:hover {
    color: #ffde66;
}
